# Heroes of Pymoli Analysis

The demographic age range of 20-24 has the highest volume of purchases at 258 users.  Followed by 15-29 with 107. Targeting this age range would have the highest ROI

Males have the highest gender demographic by a significant amount which accounts for 84% of user volume.  A good strategy would be to target Males between 15-24 to maximize users and profits

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
purchase_data.shape

(780, 7)

* Display the total number of players

In [3]:
#total number of players
player = purchase_data["SN"].nunique()
player_count = pd.DataFrame([player], columns = ["Total Players"])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Calculations

#Number of unique itmems
unique_items = purchase_data["Item ID"].nunique()

#Average purchase price
avg_price = purchase_data["Price"].mean()

#Total number of purchases
total_purchases = purchase_data["Purchase ID"].nunique()

#Total Revenue
total_revenue = purchase_data.Price.sum()

# Create data frame
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [avg_price],
                                   "Number of Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue]})

# Data Frame format
pd.options.display.float_format = "${:,.2f}".format

purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#create DataFrame containing user counts by gender
gender_demo = pd.DataFrame(purchase_data.groupby("Gender").SN.nunique())

#rename 'SN' column to player count
gender_demo = gender_demo.rename(index=str, columns={"SN": "Player Count"})

#add percentage to totals in a new columns
gender_demo["Percentage of Players"] = gender_demo["Player Count"] / sum(gender_demo["Player Count"])*100

#format new column with %
gender_demo = gender_demo.style.format({"Percentage of Players": "{:.2f}%"})
gender_demo


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Grouping by gender 
gender = purchase_data.groupby(["Gender"])

# Purchase count per gender
purchase_count = gender ["Purchase ID"].count()

#avg purchase price per gender
avg_purchase_price = gender ["Price"].mean()

# Total purchase value per gender
total_purchase_value = gender ["Price"].sum()

#Average Purchase Total per Person by Gender
gender_total = gender ["SN"].nunique()

# Average total per person by gender
avg_total_purchase_gender = total_purchase_value / gender_total

In [7]:
# Create data frame
gender_purchase = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": avg_purchase_price,
                                   "Total Purchase Value": total_purchase_value,
                                   "Average Total Purchase Per Gender": avg_total_purchase_gender})
gender_purchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
# Create age bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 60]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Creating column based on bins
purchase_data["Demographic Age"]=pd.cut(purchase_data["Age"], age_bins, labels=group_names)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Demographic Age
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20-24

In [9]:
# New bind column
age_df = purchase_data.groupby("Demographic Age")
total_count = age_df ["SN"].nunique()

# Percentage of players
percentage_age = total_count / player * 100


# Create df
age_analysis = pd.DataFrame({"Total Count": total_count,
                                   "Percentage of Player": percentage_age,})
age_analysis

                 Total Count  Percentage of Player
Demographic Age
<10                       17                 $2.95
10-14                     22                 $3.82
15-19                    107                $18.58
20-24                    258                $44.79
25-29                     77                $13.37
30-34                     52                 $9.03
35-39                     31                 $5.38
40+                       12                 $2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Group by age
age_df = purchase_data.groupby("Demographic Age")

# Data calculations
purchase_count = age_df ["Purchase ID"].count()
avg_purchase_price = age_df ["Price"].mean()
total_purchase_value = age_df ["Price"].sum()
age_total = age_df ["SN"].nunique()

# Average total per person by Age
avg_total_purchase_age = total_purchase_value / age_total
avg_total_purchase_age

Demographic Age
<10     $4.54
10-14   $3.76
15-19   $3.86
20-24   $4.32
25-29   $3.81
30-34   $4.12
35-39   $4.76
40+     $3.19
dtype: float64

In [11]:
# Create df
age_purchase = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": avg_purchase_price,
                                   "Total Purchase Value": total_purchase_value,
                                   "Average Total Purchase Per Age": avg_total_purchase_age})
age_purchase

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Age
Demographic Age,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
#Group by spenders
spenders_df = purchase_data.groupby("SN")

# Data calculations
purchase_count = spenders_df ["Purchase ID"].count()
avg_purchase_price = spenders_df ["Price"].mean()
total_purchase_value = spenders_df ["Price"].sum()
spender_total = spenders_df ["SN"].nunique()

# Average total per person by Spender
avg_total_spender = total_purchase_value / spender_total
avg_total_spender

# Create df
spender_purchase = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": avg_purchase_price,
                                   "Total Purchase Value": total_purchase_value,
                                   "Average Total Purchase Per Spender": avg_total_spender})
spender_purchase

# Sort total purchase value (descending order)
user_sorted = spender_purchase.sort_values("Purchase Volume Column", ascending=False)

# Format
user_sorted["Average Purchase Price"] = user_sorted["Average Purchase Price"].map("${:,.2f}".format)
user_sorted["Total Purchase Value"] = user_sorted["Total Purchase Value"].map("${:,.2f}".format)
user_sorted = user_sorted.loc[:,["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# Display df
user_sorted.head()

KeyError: 'Purchase Volume Column'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# Retrieve the Item ID, Item Name, and Item Price columns
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Calculations and groupby
purchase_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_price = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
total_purchase_value = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# Create df
item_data_df = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Item Price": item_price,
                                   "Total Purchase Value": total_purchase_value})

# Sort purchase count (descending order)
item_data_count_sorted = item_data_df_pd.sort_values("Purchase Count", ascending = False)

# Format
item_data_count_sorted["Purchase Count"] = item_data_count_sorted["Purchase Count"].map("{:,}".format)
item_data_count_sorted["Item Price"] = item_data_count_sorted["Item Price"].map("${:,.2f}".format)
item_data_count_sorted["Total Purchase Value"] = item_data_count_sorted["Total Purchase Value"].map("${:,.2f}".format)
item_popularity = item_data_count_sorted.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

# Display df
item_popularity.head()

NameError: name 'item_data_df_pd' is not defined

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [17]:
# Sort above df by total purchase value (descending order)
item_total_value = item_data_pd.sort_values("Total Purchase Value", ascending = False)

# Format
item_total_value["Purchase Count"] = item_total_value["Purchase Count"].map("{:,}".format)
item_total_value["Item Price"] = item_total_value["Item Price"].map("${:,.2f}".format)
item_total_value["Total Purchase Value"] = item_total_value["Total Purchase Value"].map("${:,.2f}".format)
most_profitable = item_total_value.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]

# Display df
most_profitable.head()

NameError: name 'item_data_pd' is not defined